body {
  font-family: Arial, sans-serif;
}

.App {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #222;
  color: white;
}

th, td {
  padding: 10px;
  text-align: left;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}
